<body class="p_terms f_base v1"><div id="StayFocusd-infobar" style="display: none; top: 0px;">
    <img src="chrome-extension://laankejkbhbdhmipfmgcngdelahlfoji/common/img/eye_19x19_red.png">
    <span id="StayFocusd-infobar-msg"></span>
    <span id="StayFocusd-infobar-links">
        <a id="StayFocusd-infobar-never-show">hide forever</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a id="StayFocusd-infobar-hide">hide once</a>
    </span>
</div><main>

<section class="fade-butt-secondary-darker f-butt">

	<!-- <img class="bgi visible" data-src="assets/pool.jpg" src="https://keto-one.com/assets/img/blank.gif" alt="" style="opacity: 1; width: 3000px; height: 1946px; background-image: url(&quot;assets/pool.jpg&quot;);"> -->
  <!-- <%= image_tag "pool.jpg", size:'3000x1946', class: 'bgi visible' %> -->
	<div class="container">

		<h1>Terms of Use and Service Agreement</h1>

		<div class="box box-shadow bg-white-60">

			<p class="text-center text-upper">Please read these terms carefully before using this site</p>

			<p>This Agreement ("Agreement") contains important information regarding your legal rights and duties to the website owner, its affiliates and subsidiaries (collectively, "we" or "us") regarding your use of this website (the "Site") and purchase of any products or services (collectively, "services") purchased through this Site (all terms and conditions of this Agreement, collectively, the "Terms"). In this Agreement, the words "you" and "your" refer to each customer, Site visitor, or user.</p>

			<h3>Notice of Key Consumer Information</h3>

			<h4>Arbitration; Class Action Waiver; Limitation of Remedies.</h4>

			<p>Please be aware that you agree to the arbitration agreement and class action waiver included in the Agreement to resolve any and all disputes with Company and its affiliates (except for matters that may be taken to small claims court). This Agreement also limits your remedies in the event of a dispute.</p>

			<h4>Health Disclaimer.</h4>

			<p>This Site contains general information related to diet, health and nutrition. The Food and Drug Administration ("FDA") has not evaluated the statements on this Site, and we do not provide any statement or product on this Site for the purpose of diagnosing, treating, curing or preventing any disease. If you are pregnant, nursing, taking medication, or have a history of heart conditions we suggest consulting with a physician before using any of our products.</p>

			<p>The information provided on this Site is provided "as is" without any representation or warranties, express or implied, in relation to the health information on this Site. You must not rely on the information on this website as an alternative to medical advice from a professional health care provider. We are not providing any medical advice or claims regarding the efficacy of the products offered on this Site to treat or cure any medical disease or ailment, and none should be inferred from any ideas, suggestions, testimonials or other information set forth on this Site or in any materials associated with this Site.</p>

			<h4>Claims and Testimonial Disclaimer:</h4>

			<p>The statements on this Site related to the services are not intended to be efficacy or health claims. While we believe in the value of our services, the FDA has not evaluated the health benefits of the services and we do not make - and expressly disclaim - any representation that the statements contained on or linked from or to this Site are supported by competent and reliable scientific evidence. Additionally, consumer testimonials and endorsements on the Site relating to the experience of one or more consumers on any central or key attribute of our services are not representative - and are not intended to be representative - of what consumers will generally achieve in actual, albeit variable conditions of use.</p>

			<h3>Acceptance of Terms of Use and Service</h3>

			<h4>Consent to Agreement.</h4>

			<p>This Agreement is a legally binding agreement made by and between this Site and its owners ("we" or "us") and you, personally and, if applicable, on behalf of the entity for which you are using this web site (collectively, "you"). This Agreement and our <a href="https://keto-one.com/privacy">Privacy Policy</a> govern your use of this Site, which is the property of us and our licensors, and the services we offer on the Site.</p>

			<p>BY ACCESSING OR USING ANY PART OF THE SITE (INCLUDING BY PLACING AN ORDER THROUGH THIS SITE), YOU AGREE TO BE BOUND BY THIS AGREEMENT. IF YOU DO NOT AGREE, OR IF YOU DO NOT UNDERSTAND THE TERMS OF THIS AGREEMENT, DO NOT ACCESS OR USE THE SITE.</p>

			<h4>Changes to Terms.</h4>

			<p>We reserve the right, in our sole discretion, to change, modify, add or remove portions of the Terms relating to your use of this Site, at any time. It is your responsibility to check these Terms periodically for changes. Your continued use of this Site following the posting of changes will means that you accept and agree to the changes. As long as you comply with and agree to be bound by the Terms, we grant you a personal, non-exclusive, non-transferable, limited privilege to enter and use the Site.</p>

			<p>Please read through these Terms carefully before placing your order and print a copy for future reference. Please also read our <a href="https://keto-one.com/privacy">Privacy Policy</a> (which is incorporated herein by reference) regarding personal information provided by you.</p>

			<h3>Site Content</h3>

			<h4>Ownership of Content.</h4>

			<p>All text, graphics, user interfaces, photographs, trademarks, logos, sounds, music, artwork and computer code (collectively, "Content"), including but not limited to the design, structure, selection, coordination, expression, "look and feel" and arrangement of such Content, contained on the Site is owned, controlled or licensed by or to us (with the exception of third party content listed below and as qualified by the disclaimers herein), and is protected by trade dress, copyright, patent and trademark law, and various other intellectual property rights and unfair competition laws.</p>

			<p>Except as expressly provided in this Agreement, no part of this Site and no Content may be copied, reproduced, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted or distributed in any way (including "mirroring") to any other computer, server, Web site or other medium for publication or distribution or for any commercial enterprise, without our express prior written consent. You may not deep link to portions of the Site, or frame, inline link, or similarly display any of our property, including, without limitation, the Site and Content.</p>

			<h4>Accuracy of Information.</h4>

			<p>We attempt to ensure that the information on the Site is complete and accurate; however, this information may contain typographical errors, pricing errors, and other errors or inaccuracies. We assume no responsibility for such errors and omissions, and reserve the right to (without limitation): (i) revoke any offer stated on the Site; (ii) correct any errors, inaccuracies or omissions; and (iii) make changes to prices, Content, promotions, product descriptions or specifications, or other information on the Site.</p>

			<h4>Content Disclaimers.</h4>

			<p>The beginning of this Agreement contains important health and claims disclosures, which are incorporated herein. Those disclaimers apply to all Content on the Site and any marketing related to the services offered on the Site.</p>

			<h4>Third Party Content and Links to Third Party Sites.</h4>

			<p>The Site may contain information and claims sourced from third parties that we provide for informational purposes only subject to the express health and claims disclaimers listed at the beginning of this Agreement. Furthermore, this Site may contain links to websites controlled by parties other than us (each a "Third Party Site"). Be advised, we may work with third parties with Web sites linked to this Site, including (but not limited to) advertising networks, publishers and marketers. We may provide links to citations or resources with which we are not affiliated, and in each such case you shall not presume any such affiliation.</p>

			<p>We are not responsible for and do not endorse or accept any responsibility for the availability, contents (including the accuracy or reliability of contents), products, services or use of any Third Party Site, any Web site accessed from a Third Party Site or any changes or updates to such sites. We make no guarantee about the content or quality of the claims made or products or services offered by such sites. We are not responsible for webcasting or any other form of transmission received from any Third Party Site. Any dealings with, or participation in promotions offered by, advertisers on the Site, including the payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings or promotions, are solely between you and the applicable advertiser or other third party.</p>

			<p>Be advised, we provide these links to you only as a convenience, and the inclusion of any link does not imply our endorsement of any Third Party Site, nor does it imply that we sponsor, are affiliated or associated with, guarantee, or are legally authorized to use any intellectual property that may be reflected in the links. You acknowledge that you bear all risks associated with access to and use of content provided on a Third Party Site and agree that we are not responsible for any loss or damage of any sort that you may incur from dealing with a third party, including (without limitation) any third party marketer, publisher or network that receives consideration for driving traffic to or promoting the Site.</p>

			<h4>Notice of Third Party Misconduct.</h4>

			<p>We want to ensure that you have an excellent user and customer experience. We take third party/affiliate misconduct seriously. If you become aware of any conduct that violates this Agreement or any misconduct by any third party claiming an affiliation with this Site or our services, we encourage you to document the misconduct and contact our Customer Service immediately. We reserve the right, but will not have the obligation, to respond to such communications in our discretion. You should contact the site administrator for the applicable Third Party Site if you have any concerns regarding links or the current content on any Third Party Site.</p>

			<h3>Your Use of Site</h3>

			<h4>Prohibited Conduct.</h4>

			<p>You may not use any "deep-link", "page-scrape", "robot", "Spider" or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the Site or any Content, or in any way reproduce or circumvent the navigational structure or presentation of the Site or any Content, to obtain or attempt to obtain any materials, documents or information through any means not purposefully made available through the Site. We reserve the right to bar any such activity.</p>

			<p>You may not attempt to gain unauthorized access to any portion or feature of the Site, or any other systems or networks connected to the Site or any of our servers, or to any of the services offered on or through the Site, by hacking, password "mining" or any other illegitimate means.</p>

			<p>You may not probe, scan or test the vulnerability of the Site or any network connected to the Site, nor breach the security or authentication measures on the Site or any network connected to the Site. You may not reverse look-up, trace or seek to trace any information on any other user of or visitor to the Site, or any other customer, including any account not owned by you, to its source, or exploit the Site or any service or information made available or offered by or through the Site, in any way where the purpose is to reveal any information, including but not limited to personal identification or information, other than your own information, as provided for by the Site.</p>

			<p>You agree that you will not take any action that imposes an unreasonable or disproportionately large load on the infrastructure of the Site or our systems or networks, or any systems or networks connected to the Site or to us. You agree not to use any device, software or routine to interfere or attempt to interfere with the proper working order of the Site or any transaction being conducted on the Site, or with any other person's use of the Site. Without limiting the foregoing, for example purposes only, you may not interfere with or damage the Site or our services through (without limitation) the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial of service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology.</p>

			<p>You may not forge headers or otherwise manipulate identifiers in order to disguise the origin of any message or transmittal you sent to us or through the Site or any service offered on or through the Site. You may not pretend that you are, or that you represent, someone else, or impersonate any other individual or entity.</p>

			<p>You may not use the Site or any Content for any purpose that is unlawful or prohibited by the Terms, or to solicit the performance of any illegal activity or other activity that infringes on our rights or the rights of any other person.</p>

			<h4>Your Content.</h4>

			<p>By posting, storing, or transmitting any content on or to the Site, you hereby grant us a perpetual, worldwide, non-exclusive, royalty-free, sub-licensable, right and license to use, copy, display, perform, create derivative works from, distribute, have distributed, transmit and sublicense such content in any form, in all media now known or hereinafter created, anywhere in the world. You hereby irrevocably waive any claims based on moral rights or similar theories, if any. Any content you provide to us in any way is subject to the terms of our <a href="https://keto-one.com/privacy">Privacy Policy</a>.</p>

			<p>All comments, feedback, suggestions, ideas, and other submissions that you disclose, submit or offer to us in connection with your use of the Site will become our exclusive property. Such disclosure, submission or offer of any comments shall constitute an assignment to us of all worldwide right, title and interest in all patent, copyright, trademark, and all other intellectual property and other rights whatsoever in and to the comments and a waiver of any claim based on moral rights, unfair competition, breach of implied contract, breach of confidentiality, and any other legal theory. You will, at our cost, execute any documents to affect, record, or perfect such assignment. Thus, we will own exclusively all such right, title and interest and shall not be limited in any way in the use, commercial or otherwise, of any comments. You should not submit any comments to us if you do not wish to assign such rights to us. We are and will be under no obligation: (i) to maintain any comments in confidence; (ii) to pay to you or any third party any compensation for any comments; or (iii) to respond to any comments. You are and shall remain solely responsible for the content of any comments you make.</p>

			<p>We do not have the ability to control the nature of the user-generated content offered through the Site, if any. You are solely responsible for your interactions with other users of the Site and any content that you post. We will not be liable for any damage or harm resulting from any content or your interactions with other users of the Site. We reserve the right, but have no obligation, to monitor interactions between you and other users of the Site and take any other action to restrict access to or the availability of any material that we or another user of the Site may consider to be obscene, lewd, lascivious, filthy, excessively violent, harassing or otherwise objectionable (including, without limitation, because it violates this Agreement).</p>

			<h4>Your Account.</h4>

			<p>Certain features or services offered on or through this Site may require you to open an account. You are responsible for maintaining the security and confidentiality of the information you hold for your account, including your password, and for any and all activity that occurs under your account as a result of your failing to keep this information confidential and secure. You agree to notify us immediately of any unauthorized use of your account or password, or any other breach of security. You may not assign or otherwise transfer your account to any other person or entity. We reserve the right to refuse or cancel service and terminate accounts.</p>

			<p><strong>Product And Billing.</strong></p>
			<p>The prices for the products are as follows: $199.99 for the 5 bottle package; $129.99 for the 3 bottle package and $69.99 each for the 1 bottle package. Shipping and handling is non-refundable.</p>
			<p>The 'Keto 15-Day Cleanse' is an optional additional product available for purchase with all packages for $19.99. </p>
			<p>You authorize us to initiate a one-time charge to your credit card as indicated upon your purchase.</p>
			<p>Your product will ship within 24 hours and will arrive within 3-5 business days. If your product does not arrive within the alloted amount of time, please call customer service to address the delay. Although we always strive to make our deliveries as timely as possible, circumstances may arise outside of our control, such as inclement weather, natural disasters, or other postal delays, which may impede a the timely arrival of your product. You agree we are not liable for such delays.</p>
			<p>Please contact Customer Service at US TOLL FREE 1-855-593-6636 between the hours of 9am to 5pm EST Mondat through Friday with any questions regarding your product, payment or return.</p>
			<p><strong>Returns, Cancellation And Refund Policy</strong><br>
			  <br>
		      Refund Policy. You must call Customer Service at US TOLL FREE 1-855-593-6636 before any arrangements will be made to issue a refund. Shipping and handling fees are non-refundable. You may return unopened product within 30 days of purchase for a full refund. Your account will be credited within 7-14 business days of receiving eligible returns. If you do not see a refund within that time, please contact customer service.</p>
			<p>3.1.1 You may also cancel by email customer service at support@keto-one.com.</p>
			<p>3.2 Persons with a medical condition, who are pregnant, or have reason to believe they may become pregnant in the next 60 days should not order this product. Refund requests will not be accepted and refunds will not be given for these reasons. You must consult a physician prior to placing an order if you are unsure about whether you can take this product.</p>
			<p>3.3 Your account will be credited within 7-14 days of receiving eligible returns. The same card used to purchase the product will be credited. If you do not see a credit within this time period, please call customer service.</p>
			<p>3.4 For Returns, please contact support@keto-one.com or by phone at 1-855-593-6636 :</p>
			<h3>Other Terms and Conditions</h3>

			<h4>Disclaimers.</h4>

			<p>WE DO NOT PROMISE THAT THE SITE OR ANY CONTENT, SERVICE OR FEATURE OF THIS SITE WILL BE ERROR-FREE OR UNINTERRUPTED, OR THAT ANY DEFECTS WILL BE CORRECTED, OR THAT YOUR USE OF THE SITE OR ANY SERVICE WILL PROVIDE SPECIFIC RESULTS. THE SITE, ITS CONTENT AND OUR SERVICES ARE DELIVERED ON AN "AS-IS" AND "AS-AVAILABLE" BASIS. ALL INFORMATION PROVIDED ON THE SITE IS SUBJECT TO CHANGE WITHOUT NOTICE, WE CANNOT ENSURE THAT ANY FILES OR OTHER DATA YOU DOWNLOAD OR RECEIVE FROM THE SITE WILL BE FREE OF VIRUSES OR CONTAMINATION OR DESTRUCTIVE FEATURES. WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF ACCURACY, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. WE DISCLAIM ANY AND ALL LIABILITY FOR THE ACTS, OMISSIONS AND CONDUCT OF ANY THIRD PARTIES IN CONNECTION WITH OR RELATED TO YOUR USE OF THE SITE AND/OR ANY SERVICES. YOU ASSUME TOTAL RESPNSIBILITY FOR YOUR USE OF THE SITE, ANY LINKED SITE, OR SERVICE. YOUR SOLE REMEDY AGAINT US FOR DISSATISFACTION WITH THE SITE OR ANY CONTENT IS TO STOP USING THE SITE OR ANY SUCH CONTENT. THIS LIMITATION OF RELIEF IS A PART OF THE BARGAIN BETWEEN THE PARTIES.</p>

			<p>FURTHERMORE, ALL PRODUCTS ARE SUBJECT ONLY TO ANY APPLICABLE WARRANTIES OF THEIR RESPECTIVE MANUFACTURERS, DISTRIBUTORS, AND SUPPLIERS, IF ANY, PROVIDED IN THE PRODUCT PACKAGING. TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, WE HEREBY DISCLAIM ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, OR FITNESS FOR A PARTICULAR PURPOSE. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, WE HEREBY EXPRESSLY DISCLAIM ALL LIABILITY FOR PRODUCT DEFECT OR FAILURE CLAIMS THAT ARE DUE TO NORMAL WEAR, PRODUCT MISUSE, ABUSE, PRODUCT MODIFICATION, IMPROPER PRODUCT SELECTION, NON-COMPLIANCE WITH ANY CODES, OR MISAPPROPRIATION.</p>

			<p>The above disclaimers apply to any damages, liability or injuries caused by any failure of performance, error, omission, interruption, deletion, defect, delay in operation of transmission, computer virus, communication line failure, theft or destruction of or unauthorized access to, alteration of, or use, whether for breach of contract, tort, negligence or any other cause of action.</p>

			<h4>Limitation of Liability.</h4>

			<p>Except as prohibited by law, we will not be liable to you for any indirect, consequential, exemplary, incidental or punitive damages, including lost profits, even if we have been advised of the possibility of such damages.</p>

			<p>If, notwithstanding the other provisions of the Terms, we are found to be liable to you for any damage or loss which arises out of or is any way connected with your use of the Site, any Content, or any services, our aggregate liability to you shall not exceed the greater of $100 or the amount you paid to us related to the purchase of services from the Site.</p>

			<h4>Indemnity.</h4>

			<p>You agree to indemnify and hold us, as well as our officers, directors, owners, predecessors, successors in interest, agents, subsidiaries and affiliates, harmless from any demands, loss, liability, claims or expenses (including attorney's fees), made against us by any third party due to or arising out of or in connection with your use of the Site, use of the service, or your failure to perform any duty under the law.</p>

			<h4>Dispute Resolution and Class Action Waiver.</h4>

			<p>BY ENTERING INTO THIS AGREEMENT, THE PARTIES HEREBY IRREVOCABLY WAIVE ANY RIGHT EITHER MAY HAVE TO JOIN CLAIMS WITH THOSE OF OTHERS IN THE FORM OF A CLASS ACTION OR SIMILAR PROCEDURAL DEVICE. ANY CLAIMS ARISING OUT OF, RELATING TO, OR CONNECTED WITH THIS AGREEMENT, YOUR USE OF THE SITE, THE MARKETING OR YOUR PURCHASE OF THE SERVICES ("Dispute Resolution Scope") MUST BE ASSERTED INDIVIDUALLY.</p>

			<p>The parties agree to resolve any and all disputes falling within the Dispute Resolution Scope through binding arbitration or in small claims court rather than in a court of general jurisdiction. The parties hereby waive any right either may have to resolve any dispute within the Dispute Resolution Scope in a court of general jurisdiction.. Any arbitration under these Terms will take place on an individual basis; class arbitrations and class actions are not permitted.</p>

			<p>This agreement to arbitrate shall be specifically enforceable. Either party may apply to any court with jurisdiction for interim or conservatory relief, including without limitation a proceeding to compel arbitration.</p>

			<h4>Force Majeure.</h4>

			<p>You acknowledge and understand that if the Site is or we are unable to provide the services as a result of a force majeure event, we will not be in breach of any of obligations towards You under these Terms. A force majeure event means any event beyond our control. WE SHALL NOT HAVE ANY LIABILITY TO YOU WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER FORM OF LIABILITY FOR FAILING TO PERFORM OBLIGATIONS UNDER THIS AGREEMENT TO THE EXTENT THAT SUCH FAILURE IS AS A RESULT OF A FORCE MAJEURE EVENT.</p>

			<h4>Domestic Use; Export Restrictions.</h4>

			<p>We control the Site from our offices within the United States of America. We make no representation that the Site or its Content or services are appropriate or available for use in other locations. Users who access the Site from outside the United States of America do so on their own initiative and must bear all responsibility for compliance with local laws, if applicable. Further, the United States export control laws prohibit the export of certain technical data and software to certain territories. No Content from the Site may be downloaded in violation of United States law.</p>

			<h4>Additional Terms.</h4>

			<p>This Agreement will be binding upon each party hereto and its successors and permitted assigns, and governed by and construed in accordance with the laws of the State of Delaware without regard for conflict of law principles. This Agreement and all of your rights and obligations under them may not be assignable or transferable by you without our prior written consent. No failure or delay by a party in exercising any right, power or privilege under this Agreement will operate as a waiver thereof, nor will any single or partial exercise of any right, power or privilege preclude any other or further exercise thereof or the exercise of any other right, power, or privilege under this Agreement. The invalidity or unenforceability of any provision of this Agreement will not affect the validity or enforceability of any other provision of this Agreement, all of which will remain in full force and effect.</p>
			<h4>Wireless Policy to add to existing Terms of Use/Privacy Policy.</h4>
			<p>			  We may use personal information to provide the services you've requested, including services that display customized content and advertising. In addition to any fee of which you are notified, your provider's standard messaging rates apply to our confirmation and all subsequent SMS correspondence. You may opt-out and remove your SMS information by sending "STOP", "END", "QUIT" to the SMS text message you have received. If you remove your SMS information from our database it will no longer be used by us for secondary purposes, disclosed to third parties, or used by us or third parties to send promotional correspondence to you.</p>
			<h4>Detailed Wireless Policy.</h4>
			<p>			  Data obtained from you in connection with this SMS service may include your name, address, cell phone number, your provider's name, and the date, time, and content of your messages. In addition to any fee of which you are notified, your provider's standard messaging rates apply to our confirmation and all subsequent SMS correspondence. All charges are billed by and payable to your mobile service provider. We will not be liable for any delays in the receipt of any SMS messages, as delivery is subject to effective transmission from your network operator. SMS message services are provided on an AS IS basis.<br>
			  We may use personal information to provide the services you've requested, including services that display customized content and advertising. We may also use personal information for auditing, research and analysis to operate and improve our technologies and services. We may share aggregated and non personal information with third parties outside of Auction Monster. When we use third parties to assist us in processing your personal information, we require that they comply with our Privacy Policy and any other appropriate confidentiality and security measures. We may also share information with third parties in limited circumstances, including when complying with legal process, preventing fraud or imminent harm, and ensuring the security of our network and services. <br>
			  You may remove your information from our database. If you remove your information from our database it will no longer be used by us for secondary purposes, disclosed to third parties, or used by us or third parties to send promotional correspondence to you. You may remove your information by sending your request in writing via email to support@ketotonediet.com or by sending "STOP", "END", "QUIT" to the SMS text message you have received.</p>
			<h4>Digital Millenium Copyright Act</h4>
		  <p>		  THIS NOTICE IS SUBJECT TO MODIFICATION OR TERMINATION AT ANY TIME, WHETHER FOR CHANGES IN THE LAW OR AT OUR CONVENIENCE, WITHOUT ADVANCE NOTICE. YOU MUST CHECK BACK FREQUENTLY TO ENSURE THAT YOU SEE A CORRECT, CURRENT VERSION OF THE NOTICE.</p>
			<p>It is our policy to respond to notices of alleged infringement that comply with the Digital Millennium Copyright Act and other applicable intellectual property laws. Responses may include removing or disabling access to material claimed to be the subject of infringing activity and/or terminating subscribers. If we remove or disable access in response to such a notice, we will make a good-faith attempt to contact the owner or administrator of the affected site or content so that they may make a counter notification pursuant to sections 512(g)(2) and (3) of that Act. It is our policy to document all notices of alleged infringement on which we act.</p>
			<p>Please refer to the following detailed instructions which must be followed to protect your rights under the Digital Millennium Copyright Act.</p>
			<p>Infringement Notification</p>
			<p>			  To file a notice of infringement with us, you must provide a written communication (by fax or regular mail -- not by email, except by prior agreement) that sets forth the items specified below. Please note that you may be liable for damages (including costs and attorneys' fees) if you materially misrepresent that a product or activity is infringing your copyrights. Accordingly, if you are not sure whether material available online infringes your copyright, we suggest that you first contact an attorney.</p>
			<p>Your communication must include substantially all of the following:</p>
			<p>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.<br>
			  Identify in sufficient detail the location of copyrighted work that you believe has been infringed upon (for example, "The copyrighted work at issue is the text that appears on this website") or other information sufficient to specify the copyrighted work being infringed. If multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site.<br>
			  Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material.<br>
			  Information reasonably sufficient to permit us to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.<br>
			  The following statement: "I have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law."<br>
			  The following statement: "I swear, under penalty of perjury, that the information in the notification is accurate, and that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed."</p>
			<h4>Contact:</h4>

			<p>Toll Free Customer Service Phone number: 1-855-593-6636</p>
			<p>Customer Service Email: support@keto-one.com</p>

		</div><!--box-->
	</div><!--container-->
</section>

</main>


<div id="ajaxloader"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://keto-one.com/assets/js/global.js?v=d26766b277861e7fd98beabf57bafe03"></script>
<script src="https://static.getclicky.com/js"></script>
<script>try{clicky.init(101145124);}catch(e){}</script>
<noscript><img width="1" height="1" src="https://in.getclicky.com/101145124ns.gif" style="position:absolute;opacity:.01;"></noscript>

<div id="bitspender_ext_b7a39af88a8fa5b6"></div></body>
